<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.AccountInfoMapper">
    <insert id="createAccount">
        insert into account_info (uid) values (#{userId})
    </insert>

    <update id="updatePointBalanceByShopId">
        update
            account_info a
            join
            shop_info s
        set
            a.point_balance = a.point_balance + #{transactionAmount},
            a.available_balance = a.available_balance + #{transactionAmount},
            a.update_time = DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
        where
            s.uid = a.uid
    </update>

    <select id="selectAccountInfo" resultType="com.example.pipayshopapi.entity.vo.AccountInfoVO">
        select point_balance,pi_balance,available_balance,frozen_balance FROM account_info where uid=#{uid};
    </select>
    <select id="selectAccountBalance" resultType="java.math.BigDecimal">
        select point_balance from account_info where  uid=#{uid};
    </select>
</mapper>
