<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.BgImgMapper">

    <select id="selectBgImgList" resultType="com.example.pipayshopapi.entity.vo.BgImgVO">
        select b.content_id,
               b.category,
               img.origin_path as imgUrl
        FROM bg_img b
        JOIN
        image img
        ON
        b.img_url = img.image_id
        where b.del_flag = 0 and category = #{category}
    </select>
</mapper>
