<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.BrandInfoMapper">

    <select id="selectAllContentList" resultType="com.example.pipayshopapi.entity.vo.BrandInfoVO">
        SELECT b_id,brand FROM brand_info WHERE del_flag=0 AND cate_id=#{cate_id};
    </select>
    <select id="itemSelectAllContentList" resultType="com.example.pipayshopapi.entity.vo.BrandInfoVO">
        SELECT b_id,brand FROM brand_info WHERE del_flag=0 ;
    </select>
</mapper>
