<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ItemCartMapper">


    <select id="selectItemCartByIds" resultType="com.example.pipayshopapi.entity.vo.ItemCartVO">
        SELECT c.cart_id,c.user_id,c.commodity_id,c.sum_count, i.price,i.item_commodity_name,g.origin_path as avatarImag,i.free_shipping_num,i.coupons_list,i.status,i.tag_list, ii.item_id,c.commodity_spec
        from item_cart as c
                 LEFT JOIN item_commodity_info as i on c.commodity_id=i.commodity_id
                 JOIN item_info as ii on ii.item_id=i.item_id
                 join image as g on g.image_id=i.avatar_imag
        WHERE  c.user_id=#{userId}
        order by c.create_time desc
    </select>
    <select id="selectItemCartTotal" resultType="java.lang.Integer">
        SELECT COUNT(*)
        from item_cart as c
                 LEFT JOIN item_commodity_info as i on c.commodity_id=i.commodity_id
                 JOIN item_info as ii on ii.item_id=i.item_id
        WHERE  c.user_id=#{userId}
    </select>
</mapper>
