<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ItemOrderInfoMapper">


    <select id="selectItemOrders" resultType="com.example.pipayshopapi.entity.vo.ItemOrderInfoVO">
        select o.order_id,
               o.transaction_amount,
               o.commodity_id,
               o.uid,
               o.item_id,
               o.create_time,
               c.imags_list,
               c.item_commodity_name
            i.item_name as seller_name
        from item_order_info o
                 left join item_commodity_info c
                           on o.commodity_id = c.commodity_id
        where o.uid = #{userId}
          and o.del_flag = 0
    </select>

    <select id="selectOrderByUerId" resultType="com.example.pipayshopapi.entity.vo.ItemOrderInfoVO">
        SELECT o.order_id,
               o.transaction_amount,
               o.commodity_id,
               o.uid,
               o.item_id,
               JSON_UNQUOTE(
                       JSON_EXTRACT(c.imags_list, "$[0]")) AS commodity_pic,
               c.imags_list,
               c.item_commodity_name,
               i.item_name,
               CASE

                   WHEN o.order_status = 0 THEN
                       '待支付'
                   WHEN o.order_status = 1 THEN
                       '已支付'
                   WHEN o.order_status = 2 THEN
                       '已完成'
                   WHEN order_status = 3 THEN
                       '无效订单'
                   END                                     AS order_status
        FROM item_order_info o
                 INNER JOIN item_commodity_info c ON o.commodity_id = c.commodity_id
                 INNER JOIN item_info i ON i.item_id = o.item_id
        WHERE o.uid = #{userId}

          AND o.del_flag = 0
          AND c.del_flag = 0
          AND i.STATUS = 0
    </select>
    <select id="selectItemOrdersBySellerId" resultType="com.example.pipayshopapi.entity.vo.ItemOrderInfoVO">
        SELECT
        o.order_id,
        i.item_name,
        JSON_UNQUOTE(
        JSON_EXTRACT( i.item_imag_list, '$[0]' )) AS seller_pic,
        CASE
        WHEN o.order_status = 0 THEN
        '待支付'
        WHEN o.order_status = 1 THEN
        '已支付'
        WHEN o.order_status = 2 THEN
        '已完成'
        WHEN order_status = 3 THEN
        '无效订单'
        END AS order_status,
        JSON_UNQUOTE(
        JSON_EXTRACT( c.imags_list, '$[0]' )) AS commodity_pic,
        c.item_commodity_name,
        c.price as transaction_amount
        FROM
        item_order_info o
        INNER JOIN item_info i ON o.item_id = i.item_id
        INNER JOIN item_commodity_info c ON c.commodity_id = o.commodity_id
        INNER JOIN user_info u ON u.uid = o.uid
        <where>
            u.uid = #{userId} and
            <if test="orderStatus!=null and orderStatus!=3">
                o.order_status=#{orderStatus} and
            </if>
            u.`status` = 0 AND
            o.del_flag = 0 AND
            i.`status` = 0 AND
            c.`status` =0
        </where>
    </select>


    <resultMap id="paiedOrderDetailMap" type="com.example.pipayshopapi.entity.vo.OrderDetailVO">
        <result property="orderId" column="order_id" />
        <result property="createTime" column="create_time" />
        <result property="payTime" column="update_time" />
        <result property="address" column="address" />
        <result property="phone" column="phone" />
        <result property="buyerName" column="user_name" />
    </resultMap>

    <select id="getOrderDetail" resultMap="paiedOrderDetailMap">
        SELECT
            o.order_id ,o.create_time,o.update_time, u.address, u.phone, u.user_name, o.transaction_amount,o.number,o.commodity_id
        FROM
            item_order_info o
        JOIN
            buyer_data u
        ON
            o.buyer_data_id = u.buyer_data_id AND o.order_id = #{orderId}
    </select>

    <resultMap id="orderListResultMap" type="com.example.pipayshopapi.entity.vo.OrderListVO">
        <result property="orderId" column="order_id" />
        <result property="orderStatus" column="order_status" />
        <result property="commodityId" column="commodity_id" />
        <result property="transactionAmount" column="transaction_amount" />
        <result property="sellerImg" column="user_image" />
        <result property="sellerName" column="item_name" />
        <result property="commodityImg" column="avatar_imag" />
        <result property="details" column="details"/>
    </resultMap>

    <select id="getOrderList" resultMap="orderListResultMap">
        select
            o.order_id, o.order_status, o.commodity_id, o.transaction_amount,o.number,o.commodity_specification,
            u.user_image, u.item_name, i.avatar_imag, i.details
        from
            item_order_info o
        JOIN
            item_info u
        JOIN
            item_commodity_info i
        where
            o.uid = #{userId}
        <choose>
            <when test="orderStatus == -1">
                and o.order_status != 3
            </when>
            <otherwise>
                and o.order_status = #{getOrderDataVO.orderStatus}
            </otherwise>
        </choose>
            AND o.commodity_id = i.commodity_id
            AND o.item_id = u.item_id
        ORDER BY
            o.update_time DESC
            LIMIT ${currentPage},${pageSize}
    </select>



    <select id="getMyOrderByUid" resultType="com.example.pipayshopapi.entity.vo.MyItemOrderInfoVO">
        SELECT ioi.order_id,ioi.transaction_amount,ioi.uid,ioi.order_status,  ii.item_id,ii.item_name,ii.user_image,  ici.commodity_id,ici.item_commodity_name,ici.details,avatar_imag,ioi.commodity_specification
        from item_order_info as ioi
                 JOIN item_commodity_info as ici	on ici.commodity_id=ioi.commodity_id
                 JOIN item_info as ii	on ii.item_id=ici.item_id
        WHERE ii.uid=#{Uid}
        <choose>
            <when test="status == 0">
                and ioi.order_status = 0
            </when>
            <when test="status != -1">
                and ioi.order_status != 0
            </when>
        </choose>
           and ioi.del_flag=0
           order by ioi.update_time desc
            LIMIT #{page},#{limit}
    </select>
    <select id="getAllMyOrderByUid" resultType="java.lang.Integer">
        SELECT COUNT(*)
        from item_order_info as ioi
                 JOIN item_commodity_info as ici	on ici.commodity_id=ioi.commodity_id
                 JOIN item_info as ii	on ii.item_id=ici.item_id
        WHERE ii.uid=#{Uid}
        <choose>
            <when test="status == 0">
                and ioi.order_status = 0
            </when>
            <when test="status != -1">
                and ioi.order_status != 0
            </when>
        </choose>
          and ioi.del_flag=0
    </select>

    <select id="getOrderMinDeatail" resultType="com.example.pipayshopapi.entity.vo.OrderDetailVO">
        SELECT details,avatar_imag
        FROM item_commodity_info
        WHERE commodity_id = (
	    SELECT commodity_id
	    FROM item_order_info
	    WHERE order_id = #{orderId}
    )
    </select>

    <select id="getOrderListCount" resultType="java.lang.Integer">
        select
        count(1)
        from
        item_order_info o
        JOIN
        item_info u
        JOIN
        item_commodity_info i
        where
        o.uid = #{userId}
        <choose>
            <when test="orderStatus == -1">
                and o.order_status != 3
            </when>
            <otherwise>
                and o.order_status = #{getOrderDataVO.orderStatus}
            </otherwise>
        </choose>
        AND o.commodity_id = i.commodity_id
        AND o.item_id = u.item_id
    </select>


</mapper>
