<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ItemInfoMapper">


    <select id="getItemInfo" resultType="com.example.pipayshopapi.entity.vo.ItemInfoVO">
        select c1.item_id,i.item_name,i.score,i.item_imag_list,
        (select count(*) from item_commodity_info c2 where i.item_id=c2.item_id  ) as itemSum,
        (select count(*) from item_follow_focus f where i.item_id=f.item_id) as fanSum
        from item_commodity_info c1
        join item_info i on c1.item_id=i.item_id
        where c1.commodity_id=#{commodityId}
    </select>
    <select id="selectItemInfoByItemIdOrUserId" resultType="com.example.pipayshopapi.entity.vo.ItemInfoVO">
        select i.item_id,i.item_name,i.score,i.item_imag_list,i.user_image,i.membership,
               (select count(*) from item_commodity_info c2 where i.item_id=c2.item_id  ) as itemSum,
               (select count(*) from item_follow_focus f where i.item_id=f.item_id) as fanSum
        from item_info i
        <where>
            <if test="itemId!=null and itemId!=''">and i.item_id=#{itemId}</if>
            <if test="userId!=null and userId!=''">and i.uid=#{userId}</if>
        </where>
    </select>
    <select id="selectFollowItemByUserId" resultType="com.example.pipayshopapi.entity.ItemInfo">
        SELECT *
        FROM item_follow_focus f,
             i.membership
                 INNER JOIN
             item_info i
             ON f.item_id = i.item_id
        WHERE f.follow_id = #{userId}
          and f.`status` = 0
          and i.`status` = 0
    </select>

    <select id="getItemInfoByUid" resultType="com.example.pipayshopapi.entity.vo.ItemMinInfoVo">
    SELECT COUNT(item_id) as num,item_id
    FROM item_commodity_info
    WHERE item_id IN
    (
	    SELECT item_id
	    FROM item_info
	    WHERE uid = #{uid}
    )
    </select>
    <select id="selectBasicData" resultType="com.example.pipayshopapi.entity.vo.ItemVO">
        select
            item_name, score, user_image
        from
            item_info
        where
            item_id = #{itemId} and status = 0
    </select>

</mapper>
