<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.pipayshopapi.mapper.ItemCommodityInfoMapper">

    <select id="commodityOfCateList" resultType="com.example.pipayshopapi.entity.vo.CommodityVO">

        SELECT i.commodity_id, i.item_commodity_name, i.origin_price, i.price, i.details, i.avatar_imag
        FROM item_commodity_info as i
                 JOIN item_commodity_category as c on i.category_id=c.category_id
        where c.category_pid = #{categoryPid}
        limit ${startIndex}, ${number}

    </select>

    <select id="listCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM item_commodity_info as i
                 JOIN item_commodity_category as c on i.category_id=c.category_id
        where c.category_pid = #{categoryPid}
    </select>
    <select id="itemCommodityChoose" resultType="com.example.pipayshopapi.entity.vo.CommodityVO">
        select commodity_id,item_commodity_name,origin_price,price,details,imags_list
        FROM item_commodity_info
        where item_id=#{itemId}
        <if test="brandId">
            and brand_id=#{brandId}
        </if>
    </select>
    <select id="itemCommodityDetail" resultType="com.example.pipayshopapi.entity.vo.CommodityDetailVO">
        select commodity_id,
               brand_id,
               item_commodity_name,
               origin_price,
               color_list,
               size_list,
               origin_address,
               accept_address_list,
               item_id,
               price,
               details,
               imags_list,
               inventory,
               free_shipping_num,
               category_id,
               coupons_list,
               tag_list,
               degree_loss
        FROM item_commodity_info
        where commodity_id = #{commodityId}
    </select>
    <select id="selectProductByItemId">
        select *
        FROM item_commodity_info c
                 INNER JOIN
             item_info i
             ON
                 c.item_id = i.item_id
    </select>
    <select id="selectCollectProductByUserId" resultType="com.example.pipayshopapi.entity.ItemCommodityInfo">
        select *
        FROM item_collection ic
                 INNER JOIN
             item_commodity_info i
             ON
                 ic.commodity_id = i.commodity_id
        WHERE ic.user_id = #{userId}
          AND i.`status` = 0
          AND ic.`status` = 1
    </select>
    <select id="selectFollowItemByUserId" resultType="com.example.pipayshopapi.entity.ItemInfo">
        SELECT *
        FROM item_follow_focus f
                 INNER JOIN
             item_info i
             ON f.item_id = i.item_id
        WHERE f.follow_id = #{userId}
          and f.`status` = 0
          and i.`status` = 0
    </select>
    <select id="selectHistoryProductByUserId" resultType="com.example.pipayshopapi.entity.vo.ItemCommodityInfoVO">
        SELECT
            avatar_imag as commodity_pic ,
            i.item_commodity_name ,
            i. price,
            h.create_time  as accessTime,
            i.commodity_id
        FROM
            item_commodity_history h
                INNER JOIN
            item_commodity_info i
            ON
                h.commodity_id=i.commodity_id
        WHERE
            h.user_id=1 AND
            i.`status`=1
    </select>
    <select id="examineCommodityList" resultType="com.example.pipayshopapi.entity.vo.ItemCommodityInfoVO">
        SELECT
            c.commodity_id,
            i.item_name,
            i.user_image AS seller_pic,
            c.`status`,
            c.avatar_imag AS commodity_pic,
            c.item_commodity_name,
            c.price
        FROM
            item_info i
                INNER JOIN user_info u ON i.uid = u.uid
                INNER JOIN item_commodity_info c ON i.item_id = c.item_id
        WHERE
            u.uid = #{userId}
          AND c.`status` =#{examineStatus}
    </select>
    <select id="commodityList" resultType="com.example.pipayshopapi.entity.vo.ItemCommodityInfoVO">
        SELECT
            c.commodity_id,
            i.item_name,
            i.user_image AS seller_pic,
            c.`status`,
            c.avatar_imag AS commodity_pic,
            c.item_commodity_name,
            c.price
        FROM
            item_info i
                INNER JOIN user_info u ON i.uid = u.uid
                INNER JOIN item_commodity_info c ON i.item_id = c.item_id
        WHERE
            i.item_id = #{itemId}
          AND c.`status` !=0
    </select>
</mapper>
