<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ItemOrderInfoMapper">


    <select id="selectItemOrders" resultType="com.example.pipayshopapi.entity.vo.ItemOrderInfoVO">
        select o.order_id,
               o.transaction_amount,
               o.commodity_id,
               o.uid,
               o.item_id,
               o.create_time,
               c.imags_list,
               c.item_commodity_name
            i.item_name as seller_name
        from item_order_info o
                 left join item_commodity_info c
                           on o.commodity_id = c.commodity_id
        where o.uid = #{userId}
          and o.del_flag = 0
    </select>

    <select id="selectOrderByUerId" resultType="com.example.pipayshopapi.entity.vo.ItemOrderInfoVO">
        select o.order_id,
               o.transaction_amount,
               o.commodity_id,
               o.uid,
               o.item_id,
               JSON_UNQUOTE(JSON_EXTRACT(c.imags_list, "$[0]")) AS first_picture,
               c.imags_list,
               c.item_commodity_name,
               i.item_name                                      as seller_name,
               CASE
                   WHEN o.order_status = 0 THEN '待支付'
                   WHEN o.order_status = 1 THEN '已支付'
                   WHEN o.order_status = 2 THEN '已完成'
                   WHEN order_status = 3 THEN '无效订单'
                   END
                                                                AS order_status
        from item_order_info o
                 inner join item_commodity_info c
                            on o.commodity_id = c.commodity_id
                 inner join item_info i
                            on i.item_id = o.item_id
        where o.uid =
              #{userId}
          and o.
                  del_flag
            =
              0
          and c
                  .
                  del_flag
            =
              0
          and i
                  .
                  status
            =
              0
    </select>


    <resultMap id="paiedOrderDetailMap" type="com.example.pipayshopapi.entity.vo.OrderDetailVO">
        <result property="orderId" column="order_id" />
        <result property="createTime" column="create_time" />
        <result property="payTime" column="update_time" />
        <result property="address" column="address" />
        <result property="phone" column="phone" />
        <result property="buyerName" column="user_name" />
    </resultMap>

    <select id="getOrderDetail" resultMap="paiedOrderDetailMap">
        SELECT
            o.order_id ,o.create_time,o.update_time, u.address, u.phone, u.user_name
        FROM
            item_order_info o
        JOIN
            buyer_data u
        ON
            o.buyer_data_id = u.buyer_data_id AND o.order_id = #{orderId}
    </select>

    <resultMap id="orderListResultMap" type="com.example.pipayshopapi.entity.vo.OrderListVO">
        <result property="orderId" column="order_id" />
        <result property="orderStatus" column="order_status" />
        <result property="commodityId" column="commodity_id" />
        <result property="transactionAmount" column="transaction_amount" />
        <result property="sellerImg" column="user_image" />
        <result property="sellerName" column="item_name" />
        <result property="commodityImg" column="avatar_image" />
        <result property="details" column="details"/>
    </resultMap>

    <select id="getOrderList" resultMap="orderListResultMap">
        select
            o.order_id, o.order_status, o.commodity_id, o.transaction_amount,
            u.user_image, u.item_name, i.avatar_imag
        from
            item_order_info o
        JOIN
            item_info u
        JOIN
            item_commodity_info i
        where
            o.uid = #{getOrderDataVO.userId}
            <if test="getOrderDataVO.orderStatus != -1">
                and o.order_status = #{getOrderDataVO.orderStatus}
            </if>
            AND o.del_flag = 0
            AND o.commodity_id = i.commodity_id
            AND o.item_id = u.item_id
        ORDER BY
            o.update_time ASC;
    </select>


</mapper>
