<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ItemOrderDetailMapper">

    <select id="selectCommodityList" resultType="com.example.pipayshopapi.entity.dto.ItemOrderDetailDTO">
        SELECT
            o.commodity_id, o.price, o.pi_price,o.discount, o.number, o.commodity_specification, i.origin_path as avatarImag
        FROM
            item_order_detail o
        left join
            image i
        ON
            i.image_id = o.avatar_imag
        where o.order_id=#{orderId}
    </select>
</mapper>
