<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ItemCommodityEvaluateMapper">

    <insert id="insertItemCommodityEvaluateAddVO">
        insert into item_commodity_evaluate (evaluate_id,user_id,item_id,commodity_id,evaluate,score)
        values (#{evaluateId},#{userId},(select item_id from item_commodity_info where commodity_id = #{commodityId}),#{commodityId},#{evaluate},#{score})
    </insert>


    <select id="getItemCommodityEvaluates" resultType="com.example.pipayshopapi.entity.vo.ItemCommodityEvaluateVO">
        select   e.evaluate ,e.create_time,e.evaluate_id
        , e.user_id,u.user_name,u.user_image,e.score
        from item_commodity_evaluate e
        left join user_info u on u.uid=e.user_id
        where commodity_id=#{commodityId} and e.status = 0 and u.status = 0
        LIMIT #{page}, #{limit}

    </select>
    <select id="getItemCommodityEvaluatesSum" resultType="java.lang.Integer">
        select count(*)  from item_commodity_evaluate  where commodity_id=#{commodityId} and status = 0
    </select>

    <select id="getItemCommodityEvaluate" resultType="com.example.pipayshopapi.entity.vo.EvaluateVO">
        SELECT u.user_image,u.user_name,u.uid,e.evaluate,e.evaluate_id,e.create_time
        FROM user_info u JOIN item_commodity_evaluate e ON u.uid = e.user_id
        WHERE uid IN (
	        SELECT user_id
	        FROM item_commodity_evaluate
	        WHERE evaluate_id IN (
		        SELECT evaluate_id
		        FROM item_commodity_evaluate
                WHERE item_id = #{itemId}
	        )
        )
        LIMIT #{page}, #{limit}
    </select>

    <select id="getInfoSize" resultType="java.lang.Integer">
        select count(*)
        FROM user_info u JOIN item_commodity_evaluate e ON u.uid = e.user_id
        WHERE uid IN (
	        SELECT user_id
	        FROM item_commodity_evaluate
	        WHERE evaluate_id IN (
		        SELECT evaluate_id
		        FROM item_commodity_evaluate
                WHERE item_id = #{itemId}
	        )
        )
    </select>

</mapper>
