<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ItemOrderMapper">

    <select id="getMyOrderByUid" resultType="com.example.pipayshopapi.entity.vo.MyItemOrderInfoVO">
        SELECT
            o.order_id, o.item_id, o.transaction_amount, o.discount, o.order_status, i.item_name, ig.origin_path as userImage
        FROM
            item_order o
        JOIN
            item_info i
        ON
            o.item_id = i.item_id
        JOIN
            image ig
        ON
            ig.image_id = i.user_image
        WHERE i.uid= #{uid}
        <choose>
            <when test="status == -1">
                and o.order_status != 3
            </when>
            <when test="status == 0">
                and o.order_status = 0
            </when>
            <otherwise>
                and o.order_status != 3 and o.order_status != 0
            </otherwise>
        </choose>
        AND
            o.del_flag=0
        ORDER BY
            o.update_time DESC
            LIMIT #{page}, #{limit}
    </select>



    <select id="getAllMyOrderByUid" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            item_order o
        JOIN
            item_info i
        ON
            o.item_id = i.item_id
        WHERE i.uid= #{uid}
        <choose>
            <when test="status == -1">
                and o.order_status != 3
            </when>
            <when test="status == 0">
                and o.order_status = 0
            </when>
            <otherwise>
                and o.order_status != 3 and o.order_status != 0
            </otherwise>
        </choose>
        AND
            o.del_flag=0
    </select>



    <select id="getOrderDetail" resultType="com.example.pipayshopapi.entity.vo.ItemOrderDetailVO">
        SELECT
            o.create_time,o.order_time as payTime, u.address, u.phone, u.user_name as buyerName
        FROM
            item_order o
                JOIN
            buyer_data u
            ON
                o.buyer_data_id = u.buyer_data_id AND o.order_id = #{orderId}
    </select>
    <resultMap id="orderListResultMap" type="com.example.pipayshopapi.entity.vo.OrderListVO">
        <result property="orderId" column="order_id" />
        <result property="orderStatus" column="order_status" />
        <result property="commodityId" column="commodity_id" />
        <result property="transactionAmount" column="transaction_amount" />
        <result property="sellerImg" column="user_image" />
        <result property="sellerName" column="item_name" />
        <result property="commodityImg" column="avatar_imag" />
        <result property="details" column="details"/>
    </resultMap>

    <select id="getOrderList" resultMap="orderListResultMap">
        select
            o.order_id, o.order_status, o.commodity_id, o.transaction_amount,o.number,o.commodity_specification,
            g.origin_path as user_image, u.item_name, i.avatar_imag, i.details
        from
            item_order_info o
                JOIN
            item_info u
                JOIN
            item_commodity_info i
                join image g
                     on g.image_id=u.user_image
        where
            o.uid = #{userId}
          and o.order_status != 3
            AND o.commodity_id = i.commodity_id
            AND o.item_id = u.item_id
        ORDER BY
            o.update_time DESC
    </select>


    <select id="getBuyerOrderList" resultType="com.example.pipayshopapi.entity.vo.MyItemOrderInfoVO">
        SELECT
            o.order_id, o.item_id, o.transaction_amount, o.discount, o.order_status, i.item_name, ig.origin_path as userImage
        FROM
            item_order o
        JOIN
            item_info i
        ON
            o.item_id = i.item_id
        JOIN
            image ig
        ON
            ig.image_id = i.user_image
        WHERE
            o.uid= #{userId}
        AND
            o.del_flag=0
        ORDER BY
            o.update_time DESC
    </select>
</mapper>
