<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ShopCommodityLiveInfoMapper">
    <insert id="addLiveStock">
        UPDATE
            shop_commodity_live_info
        SET
            inventory = inventory+#{num}
        WHERE
            room_id=#{commodityId}
    </insert>

    <select id="selectShopCommodityLiveInfoList" resultType="com.example.pipayshopapi.entity.vo.ShopCommodityLiveInfoListVO">
        select s.room_id,s.room_type_name,s.tag_list,s.land,s.price,i.avatar_imag,s.bed_type
        from shop_commodity_live_info s
        join image i
        on i.image_id = s.avatar_imag
        where
        shop_id=#{shopId}
    </select>

    <select id="selectByRoomId" resultType="com.example.pipayshopapi.entity.vo.ShopCommodityLiveInfoVO">
        select room_id,room_type_name,land,restricted,price,rest_room,bed,adult,children,room,bed_type,floor,is_add
        from shop_commodity_live_info
        where room_id = #{roomId}
    </select>


    <select id="selectShopCommodityLiveVO" resultType="com.example.pipayshopapi.entity.vo.ShopCommodityLiveVO">
        SELECT l.room_id,l.shop_id,l.detail,l.tag_list,g.origin_path as avatar_imag,l.price,e.evaluate, i.localhost_latitude,i.localhost_longitude,i.address,i.score
        from shop_commodity_live_info as l
                 LEFT JOIN shop_evaluate as e ON l.room_id=e.commodity_id
                 LEFT JOIN shop_info as i ON l.shop_id=i.shop_id
                 join image as g on g.image_id=l.avatar_imag
        GROUP BY e.commodity_id
        ORDER BY e.create_time DESC
            LIMIT #{pages},#{limit}
    </select>
    <select id="selectAllShopCommodityLiveVO" resultType="java.lang.Integer">
        select count(*) from (SELECT l.room_id,l.shop_id,l.detail,l.tag_list,l.avatar_imag,l.price,e.evaluate, i.localhost_latitude,i.localhost_longitude,i.address,i.score
                              from shop_commodity_live_info as l
                                       LEFT JOIN shop_evaluate as e ON l.room_id=e.commodity_id
                                       LEFT JOIN shop_info as i ON l.shop_id=i.shop_id
                              GROUP BY e.commodity_id
                              ORDER BY e.create_time DESC) p
    </select>

    <update id="reduceLiveStock">
        UPDATE
            shop_commodity_live_info
        SET
            inventory = inventory-#{num}
        WHERE
            room_id=#{commodityId}
          AND
            inventory>=#{num}
    </update>
</mapper>
