<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ShopFollowFocusMapper">

    <select id="shopFollowFocusList" resultType="com.example.pipayshopapi.entity.vo.ShopUserFollowInfoVO">
        SELECT s.create_time
        ,u.uid
        ,u.user_name
        ,u.user_image
        FROM shop_follow_focus s
            LEFT JOIN user_info u
        ON u.uid = s.follow_id
        WHERE u.uid in
            (
            SELECT follow_id
			FROM shop_follow_focus
			WHERE shop_id = #{shopId}
		    )
        ORDER BY s.create_time DESC
        LIMIT ${pageNum},${pageSize}
    </select>

    <select id="selectFollowProductByUserId" resultType="com.example.pipayshopapi.entity.vo.ShopInfoVO1">
        SELECT
            i.shop_id,
            i.shop_name,
            i.score,
            i.user_image,
           (
                SELECT COUNT(*) FROM shop_follow_focus
                where `status`=0 and shop_id=i.shop_id
            ) as follows
        FROM shop_follow_focus f
                 INNER JOIN
             shop_info i
             ON f.shop_id = i.shop_id
        WHERE f.follow_id = #{userId}
          and f.`status` = 0
          and i.`status` = 0
            LIMIT #{page},#{limit}
    </select>
    <select id="selectAllFollowProductByUserId" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM shop_follow_focus f
                 INNER JOIN
             shop_info i
             ON f.shop_id = i.shop_id
        WHERE f.follow_id = #{userId}
          and f.`status` = 0
          and i.`status` = 0
    </select>

</mapper>
