<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ShopHotelRecordMapper">

    <select id="getRentByTime" resultType="java.lang.Integer">

        select count(room_id)
        from shop_hotel_record
        where room_id = #{roomId}
        and end_time >= #{startTime}
        and #{endTime} >= start_time

    </select>

</mapper>
