<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ShopOrderInfoMapper">

    <select id="selectOrderByUerId" resultType="com.example.pipayshopapi.entity.vo.ShopOrderInfoVO">
        select o.order_id,
               o.transaction_amount,
               o.commodity_id,
               o.uid,
               o.shop_id,
               JSON_UNQUOTE(JSON_EXTRACT(c.commodity_img_list, "$.bgImg[0]")) AS first_picture,
               c.commodity_img_list                                           as imags_list,
               c.commodity_name                                               as shop_commodity_name,
               i.shop_name                                                    as seller_name,
               CASE
                   WHEN o.order_status = 0 THEN '待支付'
                   WHEN o.order_status = 1 THEN '已支付'
                   WHEN o.order_status = 2 THEN '已完成'
                   WHEN order_status = 3 THEN '无效订单'
                   END                                                        AS order_status
        from shop_order_info o
                 inner join shop_commodity_info c
                            on o.commodity_id = c.commodity_id
                 inner join shop_info i
                            on i.shop_id = o.shop_id
        where o.uid = #{userId}
          and o.del_flag = 0
          and c.`status` = 0
          and i.`status` = 0
    </select>
    <select id="selectOrderByUidAndStatus" resultType="com.example.pipayshopapi.entity.vo.ShopOrderInfoVO">
        SELECT ui.uid,ui.user_name,ui.user_image,  sci.commodity_id,sci.commodity_name,sci.commodity_img_list,  soi.order_id,soi.transaction_amount
        FROM user_info as ui
                 INNER JOIN shop_info as si on ui.uid=si.uid
                 INNER JOIN shop_commodity_info as sci on si.shop_id=sci.shop_id
                 INNER JOIN shop_order_info as soi on sci.shop_id=soi.shop_id
        WHERE sci.`status`=1 and soi.del_flag=0
          and si.uid=#{uid}
          and order_status=#{status}
            LIMIT #{page},#{limit}
    </select>
    <select id="selectAllOrderByUidAndStatus" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user_info as ui
                 INNER JOIN shop_info as si on ui.uid=si.uid
                 INNER JOIN shop_commodity_info as sci on si.shop_id=sci.shop_id
                 INNER JOIN shop_order_info as soi on sci.shop_id=soi.shop_id
        WHERE sci.`status`=1 and soi.del_flag=0
          and si.uid=#{uid}
          and order_status=#{status}
    </select>

    <resultMap id="orderListResultMap" type="com.example.pipayshopapi.entity.vo.OrderListVO">
        <result property="orderId" column="order_id" />
        <result property="orderStatus" column="order_status" />
        <result property="commodityId" column="commodity_id" />
        <result property="transactionAmount" column="transaction_amount" />
        <result property="sellerImg" column="user_image" />
        <result property="sellerName" column="shop_name" />
        <result property="commodityImg" column="avatar_imag" />
        <result property="details" column="commodity_detail"/>
    </resultMap>

    <select id="getOrderList" resultMap="orderListResultMap">
        select
        o.order_id, o.order_status, o.commodity_id, o.transaction_amount,
        e.origin_path as user_image, u.shop_name,g.origin_path as avatar_imag, i.commodity_detail
        from
        shop_order_info o
        JOIN
        shop_info u
        JOIN
        shop_commodity_info i
        join image g on g.image_id=i.avatar_imag
        join image e on e.image_id=u.user_image
        where
        o.uid = #{userId}
                and o.order_status != 3
        AND o.del_flag = 0
        AND o.commodity_id = i.commodity_id
        AND o.shop_id = u.shop_id
        ORDER BY
        o.update_time ASC
    </select>
    <select id="getOrderListByShopId" resultMap="orderListResultMap">
        select
        o.order_id, o.order_status, o.commodity_id, o.transaction_amount,
        g.origin_path as user_image, u.shop_name,e.origin_path as avatar_imag, i.commodity_detail
        from
        shop_order_info o
        JOIN
        shop_info u
        JOIN
        shop_commodity_info i
        join image g on g.image_id=u.user_image
        join image e on e.image_id=i.avatar_imag
        where
        o.shop_id = #{getOrderDataVO.shopId}
        <choose>
            <when test="getOrderDataVO.orderStatus == -1">
                and o.order_status != 3
            </when>
            <when test="getOrderDataVO.orderStatus == 0">
                and o.order_status = 0
            </when>
            <otherwise>
                and o.order_status != 3 and o.order_status != 0
            </otherwise>
        </choose>
        AND o.del_flag = 0
        AND o.commodity_id = i.commodity_id
        AND o.shop_id = u.shop_id
        ORDER BY
        o.update_time ASC
        LIMIT #{getOrderDataVO.currentPage},#{getOrderDataVO.pageSize}
    </select>
    <select id="getOrderListCountByShopId" resultType="java.lang.Integer">
        select
        COUNT(1)
        from
        shop_order_info o
        JOIN
        shop_info u
        JOIN
        shop_commodity_info i
        where
        o.shop_id = #{getOrderDataVO.shopId}
        <choose>
            <when test="getOrderDataVO.orderStatus == -1">
                and o.order_status != 3
            </when>
            <when test="getOrderDataVO.orderStatus == 0">
                and o.order_status = 0
            </when>
            <otherwise>
                and o.order_status != 3 and o.order_status != 0
            </otherwise>
        </choose>
        AND o.del_flag = 0
        AND o.commodity_id = i.commodity_id
        AND o.shop_id = u.shop_id
    </select>

    <resultMap id="paiedOrderDetailMap" type="com.example.pipayshopapi.entity.vo.ShopOrderDetailVO">
        <result property="createTime" column="create_time" />
        <result property="payTime" column="update_time" />
    </resultMap>
    <select id="getShopOrderDetailVO" resultMap="paiedOrderDetailMap" >
        select
            o.create_time, o.update_time,o.number, c.validity_time, c.reservation_information
        from
            shop_order_info o
        join
            shop_commodity_info c
        on
            o.commodity_id = c.commodity_id
        where
            o.order_id = #{orderId}
    </select>
    <select id="getAllOrderList" resultType="java.lang.Integer">
        select
        count(1)
        from
        shop_order_info o
        JOIN
        shop_info u
        JOIN
        shop_commodity_info i
        where
        o.uid = #{getOrderDataVO.userId}
        <choose>
            <when test="getOrderDataVO.orderStatus == -1">
                and o.order_status != 3
            </when>
            <when test="getOrderDataVO.orderStatus == 0">
                and o.order_status = 0
            </when>
            <otherwise>
                and o.order_status != 3 and o.order_status != 0
            </otherwise>
        </choose>
        AND o.del_flag = 0
        AND o.commodity_id = i.commodity_id
        AND o.shop_id = u.shop_id
    </select>
    <select id="getOrderLiveList" resultType="com.example.pipayshopapi.entity.vo.OrderLiveListVO">
        select o.order_id,o.order_status,o.commodity_id,o.transaction_amount,
               e.origin_path as avatar_imag,l.room_type_name,  s.address,g.origin_path as user_image,s.shop_name,s.shop_introduce
                ,r.start_time,r.end_time
        FROM shop_order_info as o
                 join shop_commodity_live_info as l
                      ON o.commodity_id=l.room_id
                 join shop_info as s
                      ON s.shop_id = o.shop_id
        JOIN shop_hotel_record as r
        on o.order_id=r.order_id
        join image g on g.image_id=s.user_image
        join image e on e.image_id=l.avatar_imag
        WHERE
            o.uid=#{getOrderDataVO.userId}
        <if test="getOrderDataVO.orderStatus != -1">
            and o.order_status = #{getOrderDataVO.orderStatus}
        </if>
        ORDER BY
        o.update_time ASC
        LIMIT #{getOrderDataVO.currentPage},#{getOrderDataVO.pageSize};
    </select>
    <select id="getAllOrderLiveList" resultType="java.lang.Integer">
        select count(*)
        FROM shop_order_info as o
        join shop_commodity_live_info as l
        ON o.commodity_id=l.room_id
        join shop_info as s
        ON s.shop_id = o.shop_id
        JOIN shop_hotel_record as r
        on o.order_id=r.order_id
        WHERE
        o.uid=#{getOrderDataVO.userId}
        <if test="getOrderDataVO.orderStatus != -1">
            and o.order_status = #{getOrderDataVO.orderStatus}
        </if>
        ORDER BY
        o.update_time ASC
        LIMIT #{getOrderDataVO.currentPage},#{getOrderDataVO.pageSize};
    </select>
    <select id="getOrderLiveListByShopId" resultType="com.example.pipayshopapi.entity.vo.OrderLiveListVO">
        select o.order_id,o.order_status,o.commodity_id,o.transaction_amount,
              g.origin_path as avatar_imag,l.room_type_name,  s.address,e.origin_path as user_image,s.shop_name,s.shop_introduce
                ,r.start_time,r.end_time
        FROM shop_order_info as o
        join shop_commodity_live_info as l
        ON o.commodity_id=l.room_id
        join shop_info as s
        ON s.shop_id = o.shop_id
        JOIN shop_hotel_record as r
        on o.order_id=r.order_id
        join image g on g.image_id=l.avatar_imag
        join image e on e.image_id=s.user_image
        WHERE
        s.uid=#{getOrderDataVO.userId}
        <if test="getOrderDataVO.orderStatus != -1">
            and o.order_status = #{getOrderDataVO.orderStatus}
        </if>
        ORDER BY
        o.update_time ASC
        LIMIT #{getOrderDataVO.currentPage},#{getOrderDataVO.pageSize};
    </select>
    <select id="getAllOrderLiveListByShopId" resultType="java.lang.Integer">
        select count(*)
        FROM shop_order_info as o
        join shop_commodity_live_info as l
        ON o.commodity_id=l.room_id
        join shop_info as s
        ON s.shop_id = o.shop_id
        JOIN shop_hotel_record as r
        on o.order_id=r.order_id
        WHERE
        s.uid=#{getOrderDataVO.userId}
        <if test="getOrderDataVO.orderStatus != -1">
            and o.order_status = #{getOrderDataVO.orderStatus}
        </if>
        ORDER BY
        o.update_time ASC
        LIMIT #{getOrderDataVO.currentPage},#{getOrderDataVO.pageSize};
    </select>
    <select id="getLiveOrderDetail" resultType="com.example.pipayshopapi.entity.vo.ShopLiveOrderDetailVO">
        select o.create_time,o.update_time as payTime,o.number,
               l.detail,l.restricted,l.land,l.room,l.rest_room,l.bed ,
               s.phone
        FROM shop_order_info as o
                 join shop_commodity_live_info as l
                      ON o.commodity_id=l.room_id
                 join shop_info as s
                      ON s.shop_id = o.shop_id
                 JOIN shop_hotel_record as r
                      ON r.order_id=o.order_id
        WHERE o.order_id=#{orderId}
    </select>


</mapper>
