<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ShopInfoMapper">

    <select id="selectShopInfoByTopCate" resultType="com.example.pipayshopapi.entity.ShopInfo">
        select *
        FROM shop_info i
        where i.category_id = (select ct.category_id
                               from shop_category c
                                        INNER JOIN
                                    shop_category_top ct
                                    ON
                                        c.category_pid = ct.category_id
                               WHERE c.category_id = #{categorySecId});
    </select>
    <select id="getShopInfoVO" resultType="com.example.pipayshopapi.entity.vo.ShopInfoVO1">
        SELECT shop_id,shop_name,score,user_image, (
            SELECT COUNT(*) FROM shop_follow_focus
            where `status`=0 and shop_id=#{shopId}
        ) as follows
        from shop_info
        WHERE shop_id=#{shopId}
    </select>
    <select id="getShopList" resultType="com.example.pipayshopapi.entity.vo.ShopInfoVO1">
        SELECT shop_id,shop_name,score,user_image, (
            SELECT COUNT(*) FROM shop_follow_focus
            where `status`=0 and shop_id=shop_info.shop_id
        ) as follows
        from shop_info
        WHERE uid=#{uid}
            LIMIT #{page},#{limit}
    </select>
    <select id="getShopNumber" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM shop_info where uid=#{uid}
    </select>

    <select id="getIndexShopInfoVO" resultType="com.example.pipayshopapi.entity.vo.IndexShopInfoVO">
        select shop_id,shop_name,score,localhost_latitude,localhost_longitude,user_image,shop_introduce
        from shop_info
            <where>
                <if test="categoryId != null and categoryId != '-1' ">category_id=#{categoryId} </if>
                <if test="state==1">ORDER BY score ASC</if>
                <if test="state==2">ORDER BY score DESC</if>
            </where>
        LIMIT ${page},${limit}
    </select>
</mapper>
