<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ShopInfoMapper">

    <select id="selectShopInfoByTopCate" resultType="com.example.pipayshopapi.entity.ShopInfo">
        select *
        FROM shop_info i
        where i.category_id = (select ct.category_id
                               from shop_category c
                                        INNER JOIN
                                    shop_category_top ct
                                    ON
                                        c.category_pid = ct.category_id
                               WHERE c.category_id = #{categorySecId});
    </select>
    <select id="getShopInfoVO" resultType="com.example.pipayshopapi.entity.vo.ShopInfoVO1">
        SELECT shop_id,shop_name,score,user_image, (
            SELECT COUNT(*) FROM shop_follow_focus
            where `status`=0 and shop_id=#{shopId}
        ) as follows
        from shop_info
        WHERE shop_id=#{shopId}
    </select>
    <select id="getShopList" resultType="com.example.pipayshopapi.entity.vo.ShopInfoVO1">
        SELECT shop_id,shop_name,score,user_image, (
            SELECT COUNT(*) FROM shop_follow_focus
            where `status`=0 and shop_id=shop_info.shop_id
        ) as follows
        from shop_info
        WHERE uid=#{uid}
            LIMIT #{page},#{limit}
    </select>
    <select id="getShopNumber" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM shop_info where uid=#{uid}
    </select>


    <select id="getIndexShopInfoVOCount" resultType="java.lang.Integer">
        select COUNT(*)
        from shop_info
        <where>
            <if test="categoryId != null and categoryId != '-1' ">category_id=#{categoryId} </if>
        </where>
    </select>



    <select id="getIndexShopInfoVO" resultType="com.example.pipayshopapi.entity.vo.IndexShopInfoVO">
        select shop_id,shop_name,score,localhost_latitude,localhost_longitude,user_image, shop_introduce,tag_list
        from shop_info
            <where>

                <if test="categoryId != null and categoryId != '-1' ">shop_info.category_id IN(SELECT
                    sc.category_id
                    FROM
                    shop_category sc
                    WHERE
                    sc.category_pid = #{categoryId}) </if>

            </where>
        LIMIT ${page},${limit}
    </select>
    <select id="selectFollowProductByUserId" resultType="com.example.pipayshopapi.entity.ShopInfo">
        SELECT *
        FROM shop_follow_focus f
                 INNER JOIN
             shop_info i
             ON f.shop_id = i.shop_id
        WHERE f.follow_id = #{userId}
          and f.`status` = 0
          and i.`status` = 0
    </select>
    <select id="getAllIndexShopInfoVO" resultType="java.lang.Integer">
        select COUNT(*)
        from shop_info
        WHERE category_id
                  IN
              (SELECT
                   sc.category_id
               FROM
                   shop_category sc
               WHERE
                   sc.category_pid=#{categoryId})
    </select>

    <select id="getShopInfoVOCount" resultType="java.lang.Integer">

    </select>


    <select id="getShopIdListByUid" resultType="java.lang.String">
        select
            shop_id
        from
            shop_info
        where
            uid = #{uid} and status = 0
    </select>
</mapper>
