<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ShopCommodityInfoMapper">

    <select id="selectAllTopContentList" resultType="com.example.pipayshopapi.entity.ShopCommodityInfo">
        SELECT *
        FROM shop_commodity_info c
                 INNER JOIN shop_info i
                            ON c.shop_id = i.shop_id
                 INNER JOIN
             shop_collection sc
             ON sc.commodity_id = c.commodity_id
        WHERE i.uid = 'user1'
          AND i.`status` = 0
          AND c.`status` = 0
          AND sc.`status` = 0

    </select>
    <select id="selectCollectProductByUserId" resultType="com.example.pipayshopapi.entity.vo.ShopCommodityInfoVO">
        select avatar_imag,
               i.commodity_name as shop_commodity_name,
               i.price,
               i.commodity_id,
               info.shop_name,
               info.user_image
        FROM shop_collection sc
                 INNER JOIN
             shop_commodity_info i
             ON
                 sc.commodity_id = i.commodity_id
                 inner join shop_info info
                            on info.shop_id = i.shop_id
        WHERE sc.user_id = #{userId}
          AND i.`status` = 0
          AND sc.`status` = 0
          order by sc.update_time desc
          LIMIT #{page},#{limit}
    </select>
    <select id="getCollectionList" resultType="java.util.List"></select>

    <select id="selectHistoryProductByUserId" resultType="com.example.pipayshopapi.entity.vo.ShopCommodityListVO">
        SELECT i.avatar_imag, i.commodity_name , i.price,
               h.create_time as accessTime,
               i.commodity_id,
               s.shop_name,
               s.user_image
        FROM shop_commodity_history h
                 INNER JOIN
             shop_commodity_info i
             ON
                 h.commodity_id = i.commodity_id
        inner join shop_info s
        on  s.shop_id=i.shop_id
        WHERE h.user_id = #{userId}
          AND i.`status` = 0
            LIMIT #{page},#{limit}
    </select>
    <select id="selectCommodityByUidAndStatus"
            resultType="com.example.pipayshopapi.entity.vo.ShopCommodityInfoVO">
        SELECT ui.uid,
               ui.user_name,
               ui.user_image,
               sci.commodity_id,
               sci.commodity_name,
               sci.avatar_imag,
               sci.price,
               sci.status
        FROM user_info as ui
                 INNER JOIN shop_info as si on ui.uid = si.uid
                 INNER JOIN shop_commodity_info as sci on si.shop_id = sci.shop_id
        WHERE si.uid = #{uid}
          and sci.status = #{status} LIMIT #{page}
            , #{limit}
    </select>
    <select id="selectAllCommodity" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user_info as ui
                 INNER JOIN shop_info as si on ui.uid = si.uid
                 INNER JOIN shop_commodity_info as sci on si.shop_id = sci.shop_id
        WHERE si.uid = #{uid}
          and sci.status = #{status}
    </select>
    <select id="selectCommodityByShopId" resultType="com.example.pipayshopapi.entity.vo.ShopCommodityInfo1VO">
        SELECT commodity_id, commodity_name, avatar_imag, price, monthly_sales, tag_list
        from shop_commodity_info
        WHERE shop_id = #{shopId} LIMIT #{page}
            , #{limit}
    </select>
    <select id="selectAllCommodityByShopId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        from shop_commodity_info
        WHERE shop_id = #{shopId}
    </select>

    <select id="selectShopInfoByCommodityId" resultType="com.example.pipayshopapi.entity.ShopDetailInfoVO">
        select commodity_id,commodity_name,commodity_img_list,commodity_detail,price,monthly_sales,shop_id,validity_time,residue,reservation_information
        from shop_commodity_info
        where  commodity_id = #{commodityId}
    </select>
    <select id="selectAllCollectProductByUserId" resultType="java.lang.Integer">
        select count(*)
        FROM shop_collection sc
                 INNER JOIN
             shop_commodity_info i
             ON
                 sc.commodity_id = i.commodity_id
                 inner join shop_info info
                            on info.shop_id = i.shop_id
        WHERE sc.user_id = #{userId}
          AND i.`status` = 0
          AND sc.`status` = 0
    </select>
    <select id="selectAllHistoryProductByUserId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM shop_commodity_history h
                 INNER JOIN
             shop_commodity_info i
             ON
                 h.commodity_id = i.commodity_id
                 inner join shop_info s
                            on  s.shop_id=i.shop_id
        WHERE h.user_id = #{userId}
          AND i.`status` = 0
    </select>
    <select id="selectCommdityListByShopId" resultType="java.lang.Integer">
        select count(1)
        FROM
            shop_commodity_info i
        WHERE
            i.shop_id=#{shopId}
    </select>
    <select id="selectCommdityListByShopIdPage" resultType="com.example.pipayshopapi.entity.vo.ApplicationRecordVO">
        select
               i.commodity_id,
               i.commodity_name,
               i.avatar_imag,
               i.status,
               i.price
        FROM
            shop_commodity_info i
        WHERE
            i.shop_id=#{shopId}
    </select>

</mapper>
