<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ShopCommodityLiveMapper">

    <select id="selectShopCommodityLiveVO" resultType="com.example.pipayshopapi.entity.vo.ShopCommodityLiveVO">
        SELECT l.commodity_id,l.shop_id,l.detail,l.tag_list,l.image_list,l.price,e.evaluate, i.localhost_latitude,i.localhost_longitude,i.address,i.score
        from shop_commodity_live as l
                 LEFT JOIN shop_evaluate as e ON l.commodity_id=e.commodity_id
                 LEFT JOIN shop_info as i ON l.shop_id=i.shop_id
        GROUP BY e.commodity_id
        ORDER BY e.create_time DESC
            LIMIT #{pages},#{limit}
    </select>
    <select id="selectAllShopCommodityLiveVO" resultType="java.lang.Integer">
        select count(*) from (SELECT l.commodity_id,l.shop_id,l.detail,l.tag_list,l.image_list,l.price,e.evaluate, i.localhost_latitude,i.localhost_longitude,i.address,i.score
                              from shop_commodity_live as l
                                       LEFT JOIN shop_evaluate as e ON l.commodity_id=e.commodity_id
                                       LEFT JOIN shop_info as i ON l.shop_id=i.shop_id
                              GROUP BY e.commodity_id
                              ORDER BY e.create_time DESC) p
    </select>
    <select id="selectShopLiveVOByCondition"
            resultType="com.example.pipayshopapi.entity.vo.ShopCommodityLiveVO">
        SELECT l.commodity_id,l.shop_id,l.detail,l.tag_list,l.image_list,l.price,e.evaluate, i.localhost_latitude,i.localhost_longitude,i.address,i.score
        from shop_commodity_live as l
        LEFT JOIN shop_evaluate as e ON l.commodity_id=e.commodity_id
        LEFT JOIN shop_info as i ON l.shop_id=i.shop_id
        where l.check_in_time>=#{checkInTime} and #{departureTime}>=l.departure_time and l.adult>=#{adult} and l.children>=#{children}
        GROUP BY e.commodity_id
        ORDER BY e.create_time DESC
        LIMIT #{pages},#{limit}
    </select>
    <select id="selectAllShopLiveVOByCondition" resultType="java.lang.Integer">
        select count(*) from (SELECT l.commodity_id,l.shop_id,l.detail,l.tag_list,l.image_list,l.price,e.evaluate, i.localhost_latitude,i.localhost_longitude,i.address,i.score
                              from shop_commodity_live as l
                                       LEFT JOIN shop_evaluate as e ON l.commodity_id=e.commodity_id
                                       LEFT JOIN shop_info as i ON l.shop_id=i.shop_id
                              where l.check_in_time>=#{checkInTime} and #{departureTime}>=l.departure_time and l.adult>=#{adult} and l.children>=#{children}
                              GROUP BY e.commodity_id
                              ORDER BY e.create_time DESC) p
    </select>
</mapper>
