<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.ShopInfoMapper">
    <insert id="addUploadBalanceByCommodityId">
        UPDATE shop_info i
             left join shop_commodity_info c
        ON i.shop_id = c.shop_id
            SET i.upload_commodity_balance = i.upload_commodity_balance + 1
        WHERE c.commodity_id = #{commodityId}
    </insert>
    <update id="reduceUploadBalanceByCommodityId">
        UPDATE shop_info i
             left join shop_commodity_info c
        ON i.shop_id = c.shop_id
            SET i.upload_commodity_balance = i.upload_commodity_balance - 1
        WHERE c.commodity_id = #{commodityId}
          and i.upload_commodity_balance>0;
    </update>

    <update id="setItemScore">
        UPDATE shop_info i
        SET i.score = (
            SELECT AVG(c.score)
            FROM shop_commodity_evaluate c
            WHERE c.item_id = i.shop_id
            )
    </update>
    <update id="updateShopInfoById" parameterType="com.example.pipayshopapi.entity.dto.ShopDTO">
            UPDATE shop_info
            <set>
                <if test="shopName != null and shopName != ''">shop_name = #{shopName},</if>
                <if test="localhostLatitude != null">localhost_latitude = #{localhostLatitude},</if>
                <if test="localhostLongitude != null">localhost_longitude = #{localhostLongitude},</if>
                <if test="tagList != null and tagList != ''">tag_list = #{tagList},</if>
                <if test="phone != null and phone != ''">phone = #{phone},</if>
                <if test="address != null and address != ''">address = #{address},</if>
                <if test="shopIntroduce != null and shopIntroduce != ''">shop_introduce = #{shopIntroduce},</if>
                <if test="shopImagList != null and shopImagList != ''">shop_imag_list = #{shopImagList},</if>
                <if test="userImage != null and userImage != ''">user_image = #{userImage},</if>
                <if test="categoryId != null">category_id = #{categoryId},</if>
                <if test="piratio != null">piratio = #{piratio},</if>
                <if test="startTime != null">start_time = #{startTime},</if>
                <if test="endTime != null">end_time = #{endTime},</if>
                <if test="qrcode !=null and qrcode != ''">
                    qrcode = #{qrcode}
                </if>
            </set>
            WHERE shop_id = #{shopId}
    </update>

    <select id="selectShopInfoByTopCate" resultType="com.example.pipayshopapi.entity.ShopInfo">
        select *
        FROM shop_info i
        where i.category_id = (select ct.category_id
                               from shop_category c
                                         left join
                                    shop_category_top ct
                                    ON
                                        c.category_pid = ct.category_id
                               WHERE c.category_id = #{categorySecId});
    </select>
    <select id="getShopInfoVO" resultType="com.example.pipayshopapi.entity.vo.ShopInfoVO1">
        SELECT s.shop_id,s.shop_name,s.score,i.origin_path as userImage, (
            SELECT COUNT(*) FROM shop_follow_focus
            where `status`=0 and shop_id=#{shopId}
        ) as follows
        from shop_info s
        left join
             image i
        on
            i.image_id = s.user_image
        WHERE shop_id=#{shopId}
    </select>
    <select id="getShopList" resultType="com.example.pipayshopapi.entity.vo.ShopInfoVO1">
        SELECT s.shop_id,s.status,s.shop_name,s.score,i.origin_path as userImage, (
            SELECT COUNT(*) FROM shop_follow_focus
            where `status`=0 and shop_id= s.shop_id
        ) as follows
        from shop_info s
        left join image i on i.image_id = s.user_image
        WHERE uid=#{uid}
        and status = 0 or status = 1
        LIMIT #{page},#{limit}
    </select>
    <select id="getShopNumber" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM shop_info where uid=#{uid} and status = 0
    </select>


    <select id="getIndexShopInfoVOCount" resultType="java.lang.Integer">
        select count(*)
        from shop_info s
        left join
        image i
        ON
        i.image_id = s.user_image
        left join
        shop_region sr
        on
        sr.shop_id = s.shop_id
        <where>
            sr.region_id = #{regionId} and sr.del_flag = 0 and s.status = 0
            <if test="categoryId != null and categoryId != '-1' ">
                and s.category_id  = #{categoryId}
            </if>
            <if test="shopName != null ">
                and s.shop_name  like CONCAT('%', #{shopName}, '%')
            </if>
        </where>
    </select>

    <select id="getIndexShopInfoVO" resultType="com.example.pipayshopapi.entity.vo.IndexShopInfoVO">
        select
            s.shop_id, s.shop_name, s.score, s.localhost_latitude, s.localhost_longitude, i.origin_path as userImage, s.shop_introduce, s.tag_list, s.address, s.membership, s.piratio
        from shop_info s
        left join image i ON i.image_id = s.user_image
        left join shop_region sr on sr.shop_id = s.shop_id
        <where>
            sr.region_id = #{regionId} and sr.del_flag = 0 and s.status = 0
            <if test="categoryId != null and categoryId != '-1' ">
                and s.category_id  = #{categoryId}
             </if>
            <if test="shopName != null ">
                and s.shop_name  like CONCAT('%', #{shopName}, '%')
            </if>
        </where>
        <choose>
            <when test="score">
                order By score
            </when >
            <otherwise>
                order By score desc
            </otherwise>
        </choose>
        LIMIT ${page},${limit}
    </select>

    <select id="getAllIndexShopInfoVO" resultType="java.lang.Integer">
        select COUNT(*)
        from shop_info s
        left join shop_region sr on sr.shop_id = s.shop_id
        WHERE
       s.category_id in
            (select category_id from shop_category where category_pid = #{categoryId}) AND s.status=0
and sr.region_id = #{regionId} and sr.del_flag = 0
        <if test="shopName != null ">
            and s.shop_name  like CONCAT('%', #{shopName}, '%')
        </if>
    </select>

    <select id="getShopInfoVOCount" resultType="java.lang.Integer">

    </select>


    <select id="getShopIdListByUid" resultType="java.lang.String">
        select
            shop_id
        from
            shop_info
        where
            uid = #{uid} and status = 0
    </select>

    <select id="getIndexShopInfoVOById" resultType="com.example.pipayshopapi.entity.vo.IndexShopInfoVO">
        select s.shop_id,s.shop_name,s.score,s.localhost_latitude,s.localhost_longitude,i.origin_path as userImage,
               s.shop_introduce, s.tag_list,s.address,s.membership
        from shop_info s
        left join
             image i
        ON
            i.image_id = s.user_image
        left join
             shop_region sr
             on
                 sr.shop_id = s.shop_id
        WHERE category_id in
              (select category_id
               from shop_category
               where category_pid = #{categoryId})
        and status=0 and sr.del_flag = 0 and sr.region_id = #{regionId}
        <if test="shopName != null">
            and s.shop_name like concat('%',#{shopName},'%')
        </if>
        LIMIT ${page},${limit}
    </select>

    <select id="updateAllNumber" resultType="java.lang.Integer">
        select upload_commodity_balance from shop_info where shop_id=#{shopId};
    </select>
    <select id="selectUploadCommodityBalanceByCommodityId" resultType="java.lang.Integer">
        select
            s.upload_commodity_balance
        FROM
            shop_info s
                 left join
            shop_commodity_info sc
            ON
                s.shop_id=sc.shop_id
        WHERE
            sc.commodity_id=#{commodityId}
    </select>


    <select id="getHotelInfoByCondition" resultType="com.example.pipayshopapi.entity.vo.IndexShopInfoVO">
        select si.shop_id,si.shop_name,si.tag_list,si.address,si.score,si.shop_introduce,si.user_image,si.localhost_latitude,si.localhost_longitude,si.membership
        from shop_info si
        left join
            shop_region sr
        on
            sr.shop_id = si.shop_id
        where
        si.status = 0 and sr.del_flag = 0 and sr.region_id = #{regionId}
        <if test="shopName != null">
            and si.shop_name like concat('%',#{shopName},'%')
        </if>
        and si.shop_id in(
            select shop_id
            from shop_commodity_live_info
            where  adult >= #{adult}
            AND children >= #{children}
            AND del_flag = 0
            AND status = 0
        )
        limit #{page},#{limit}
    </select>

    <select id="getHotelInfoNum" resultType="java.lang.Integer">
        select count(*)
        from shop_info si
        left join
        shop_region sr
        on
        sr.shop_id = si.shop_id
        where si.status = 0 and sr.del_flag = 0 and sr.region_id = #{regionId}
        <if test="shopName != null">
            and shop_name like concat('%',#{shopName},'%')
        </if>
        and si.shop_id in(
            select shop_id
            from shop_commodity_live_info
            where  adult >= #{adult}
            AND children >= #{children}
            AND del_flag = 0
            AND status = 0
        )
    </select>
    <select id="getShopCodeByShopId" resultType="java.lang.String">
        select
            qrcode
        from
            shop_info
        where
            shop_id = #{shopId} and status = 0
    </select>




    <select id="getShopInfoMinListByCondition" resultType="com.example.pipayshopapi.entity.vo.IndexShopInfoVO">
        select
        s.shop_id, s.shop_name, s.score, s.localhost_latitude, s.localhost_longitude, i.origin_path as userImage, s.shop_introduce, s.tag_list, s.address, s.membership
        from shop_info s
        left join
        image i
        ON
        i.image_id = s.user_image
        left join
             shop_region sr
             on
                 sr.shop_id = s.shop_id
        where s.category_id  = #{categoryId} and s.status = 0 and sr.del_flag = 0 and sr.region_id = #{regionId}
        <if test="shopName != null">
            and s.shop_name like concat('%',#{shopName},'%')
        </if>
        LIMIT ${page},${limit}
    </select>
<!--删除实体店-->
    <update id="deleteShopById" parameterType="java.lang.String">
        UPDATE shop_info SET status = 3 WHERE shop_id = #{shopId};
    </update>
</mapper>
