<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pipayshopapi.mapper.TransactionRecordMapper">

    <select id="getRecordTransaction" resultType="com.example.pipayshopapi.entity.vo.RecordTransactionVO">
        select
            u.user_name, u.user_image, c.transaction_amount, c.create_time
        from
            user_info u
        left join
            transaction_record c
        on
            c.user_id = u.uid
        where c.shop_id = #{shopId} and del_flag = 0
        order by c.create_time desc
        limit ${page}, ${limit}
    </select>
    <select id="getRecordTransactionCount" resultType="java.lang.Integer">
        select
            count(*)
        from
            user_info u
        left join
        transaction_record c
        on c.user_id = u.uid
        where c.shop_id = #{shopId} and del_flag = 0
    </select>
</mapper>
